body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

h1 {
    text-align: center;
    color: #333;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#calcular {
    margin: auto;
    display: block;
    border-radius: 5px;
}

#formulario,
#historial {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    max-width: 100%;
}

.input-class {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#accordionExample {
    margin-top: 20px;
}

.accordion-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    text-align: left;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #0056b3;
}

.eliminar-item {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.eliminar-item:hover {
    background-color: #ff0000;
}